<?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" 
       id="cordova-plugin-dcsync" version="0.6.2">
        <name>DCSync</name>
        <description>Cordova Datacollector Sync Plugin</description>
        <license>Apache 2.0</license>
        <keywords>cordova,dcsync, sync</keywords>
		
		    <!-- Third party libraries -->
  
		<dependency id="cordova-plugin-file" version="^3.0.1" />
		
		<js-module name="Q" src="www/lib/q.min.js">
			<runs/>
		</js-module>
    
		<!-- Plugin source code: Core -->
		<js-module name="DCSync" src="www/DCSync.js">
			<merges target="cordova.plugins"/>
		</js-module>
		
        <platform name="ios">
				<config-file target="config.xml" parent="/*">
					<feature name="DCSync">
						<param name="ios-package" value="DCSync"/>
					</feature>
				</config-file>
				<header-file src="src/ios/DCSync.h" />
				<source-file src="src/ios/DCSync.m" />

				<header-file src="src/ios/FilePool.h" />
				<source-file src="src/ios/FilePool.m" />

				<header-file src="src/ios/DatacollectorAPI.h" />
				<source-file src="src/ios/DatacollectorAPI.m" />

		        <header-file src="src/ios/DCSyncConst.h" />

		        <header-file src="src/ios/ZipArchive/ZipArchive.h" />
		        <source-file src="src/ios/ZipArchive/ZipArchive.mm" compiler-flags="-fno-objc-arc"/>

		        <header-file src="src/ios/SQLiteManager.h" />
		        <source-file src="src/ios/SQLiteManager.m" compiler-flags="-fno-objc-arc"/>
		        
		        <header-file src="src/ios/SQLiteObject.h" />
		        <source-file src="src/ios/SQLiteObject.m" compiler-flags="-fno-objc-arc"/>

		        <header-file src="src/ios/Reachability.h" />
		        <source-file src="src/ios/Reachability.m"/>

		        <header-file src="src/ios/ZipArchive/minizip/crypt.h" />
		        <header-file src="src/ios/ZipArchive/minizip/ioapi.h" />
		        <header-file src="src/ios/ZipArchive/minizip/mztools.h" />
		        <header-file src="src/ios/ZipArchive/minizip/unzip.h" />
		        <header-file src="src/ios/ZipArchive/minizip/zip.h" />

		        <source-file src="src/ios/ZipArchive/minizip/ioapi.c" />
		        <source-file src="src/ios/ZipArchive/minizip/mztools.c" />
		        <source-file src="src/ios/ZipArchive/minizip/unzip.c" />
		        <source-file src="src/ios/ZipArchive/minizip/zip.c" />

		        <framework src="libz.1.2.5.tbd" />
		        <framework src="libsqlite3.tbd" />

		        <framework src="Security.framework" />
		        <framework src="SystemConfiguration.framework" />

			</platform>
		 <platform name="android">
			<config-file target="res/xml/config.xml" parent="/*">
				<feature name="DCSync" >
					<param name="android-package" value="at.kju.datacollector.DCSync"/>
				</feature>
			</config-file>
			<config-file target="AndroidManifest.xml" parent="/manifest">
				<uses-permission android:name="android.permission.INTERNET" />
			</config-file>

			<config-file target="res/values/strings.xml" parent="/*">
				<string name="content_authority">at.kju.datacollector</string>
			</config-file> 
			
			<config-file target="AndroidManifest.xml" parent="/manifest/application">
				<provider android:authorities="@string/content_authority" android:exported="false" android:name="at.kju.datacollector.storage.DCContentProvider" />
				<service android:exported="false" android:name="at.kju.datacollector.service.SyncService"/>
				<receiver android:name="at.kju.datacollector.service.StartupReceiver" >
				            <intent-filter>
				                <action android:name="android.intent.action.BOOT_COMPLETED"/>
				            </intent-filter>
        			</receiver>
			</config-file>
			
			<source-file src="src/android/Constants.java" target-dir="src/at/kju/datacollector" />
			<source-file src="src/android/DCSync.java" target-dir="src/at/kju/datacollector" />
			<source-file src="src/android/service/StartupReceiver.java" target-dir="src/at/kju/datacollector/service" />
			<source-file src="src/android/service/SyncService.java" target-dir="src/at/kju/datacollector/service" />
			<source-file src="src/android/service/SyncFunctions.java" target-dir="src/at/kju/datacollector/service" />

			<source-file src="src/android/helpers/JsonCompare.java" target-dir="src/at/kju/datacollector/helpers" />
			<source-file src="src/android/helpers/JsonHelper.java" target-dir="src/at/kju/datacollector/helpers" />
			<source-file src="src/android/helpers/MultipartUtility.java" target-dir="src/at/kju/datacollector/helpers" />
			<source-file src="src/android/client/DCDocument.java" target-dir="src/at/kju/datacollector/client" />
			<source-file src="src/android/client/SyncSettings.java" target-dir="src/at/kju/datacollector/client" />
			<source-file src="src/android/client/Progress.java" target-dir="src/at/kju/datacollector/client" />
			
			<source-file src="src/android/storage/DCContentProvider.java" target-dir="src/at/kju/datacollector/storage" />
			<source-file src="src/android/storage/DCDataHelper.java" target-dir="src/at/kju/datacollector/storage" />
			<source-file src="src/android/storage/DCRepository.java" target-dir="src/at/kju/datacollector/storage" />
			<source-file src="src/android/storage/LocalStorageSyncManager.java" target-dir="src/at/kju/datacollector/storage" />
        </platform>
    </plugin>
